@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@font-face {
  font-family: 'YourFont';
  src: url('./fonts/productSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'YourFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
