.aboutSection3
{
    margin-top: -9rem;
    min-height: 90vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0%;
}

.aboutDiv3
{
    min-height: 90vh;

    width: 85vw;
    height: auto;
    display: flex;
    /* border: 4px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* align-items: center; */
}

.aboutSubHeading2
{
    font-size: 1.75rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.darkaboutSubHeading2
{
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    text-align: center;
}


.domainNameDiv
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button 
{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid grey;
    margin: 0px 20px;
    opacity: 0.6;

}

.buttonName
{
    color: grey;
    opacity: 0.7;
}


.smallSubHeading 
{
    font-size: 1.5rem;
    color: black;
    font-weight: lighter;
}

.darksmallSubHeading 
{
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
}


.domainImageDiv
{
    height: 532px;


    width: 1235px;
}
.domainImageDiv img{
border-radius: 20px;
}
.domainImage
{
    width: 100%;
    height: 100%
}

@media (max-width:1270px)
{
    .domainImageDiv
    {
        height: 412px;
        width: 1115px;
    }
}


@media (max-width: 640px)
{
    .aboutSubHeading2
    {
        font-size: 1.75rem;
        margin-bottom: 11%;
    }
    
    .darkaboutSubHeading2
    {
        font-size: 1.75rem;
        margin-bottom: 11%;
        color: white
    }

    .smallSubHeading
    {
        font-size: 1.5rem;
    }

    .darksmallSubHeading
    {
        font-size: 1.5rem;
    }

    
    .domainNameDiv
    {
        width: 100%;
    }

    


    .buttonName
    {
        display: none;
    }

    .aboutDiv3 
    {
        padding: 10% 0%;
    }
    
}

@media (max-width: 1150px)
{
    .domainImageDiv
    {
        height: 332px;
        width: 935px;
    }
}

@media (max-width:950px)
{
    .domainImageDiv
    {
        height: 805px;
        width: 805px;
    }
}


@media (max-width: 850px)
{
    .aboutSection3{
        margin-top: -4rem;
    }
.domainImageDiv
{
    height: 605px;
    width: 605px;
}
}

@media (max-width: 760px)
{
 
.domainImageDiv
{
    height: 400px;
    width: 400px;
}
}

@media (max-width: 400px)
{
    .domainImageDiv
    {
        width: 100%;
        height: 58vh;
    }
}