.main 
{
    height: 80vh;
    background-color: rgba(244, 194, 13, 0.2) ;
    width: 100vw;
    padding-bottom: 5%;
}


.imageDiv 
{
    height: 230px;
    width: 270px;
    background-color: white;
    color: black;
    border-radius: 9px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.mainImageDiv 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.heading 
{
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px;
}

p 
{
    color: black;
    margin: 0px;
}


@media only screen and (max-width: 900px) {
        .main 
        {
            height: 90vh;
            padding-bottom: 30%;
        }
        .mainImageDiv{
            display: flex;
            flex-wrap: wrap;
            /* flex-direction: column; */
            align-items :center;
            text-align: center;

        }
        .eventsDiv 
        {
            margin: 10px 10px;
        }
}


@media (max-width: 600px)
{
    .main{
        height: 110vh;
        padding-bottom: 90%;
    }
}

@media (max-width: 400px)
{
    .main{
        height: 140vh;
        padding-bottom: 90%;
    }
}