.mainDiv 
{
    background-image: url('../images/FacultyBackground1.png');
     background-repeat: no-repeat;
   background-size:cover; 
   background-position: center;
    /* width: 100vw; */
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.darkmainDiv 
{
    background-image: url('../images/FacultyBackground1.png');
     background-repeat: no-repeat;
   background-size:cover; 
   background-position: center;
    /* width: 100vw; */
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2% 0; */
    background-color: black;
}

.darkHeading 
{
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-size: 3rem;
    color: black;
    font-weight: bold;
}

/* .upperSection 
{
    height: 16vh;
    display: flex;
    align-items: flex-end;
   margin-top: 5%;
    
} */

.midSection 
{
    height: 71vh;
    width: 100%;
    background-color: #4885ED;
    opacity: 0.9;
 
}


/* 
.upperImage 
{
    width: 100%;
    padding: 0px;
}

.lowerImage 
{
    width: 100vw;
} */

.imageDiv 
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    margin: 10px;
}
.darkimageDiv 
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    margin: 10px;
}

.imageBigDiv 
{
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 2px dashed white;
}

.darkimageBigDiv 
{
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 2px dashed black;
}

.heading 
{
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.imageArea 
{
    padding: 3% 0px;
    margin-left: 50px;
    display: inline;
}

.mentorSection 
{
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-evenly; */
}

.paragraph 
{
    padding: 7% 0px;
    width: 300px;
    color: white;
}

.darkParagraph 
{
    padding: 7% 0px;
    width: 300px;
    color: black;
}

.main 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (max-width: 950px) {
    .mentorSection
    {
        display: flex;
        flex-direction: column;
    }
}

 @media only screen and (max-width: 800px) {
   
     .mainDiv 
     {
        height: 169vh;
        width: 100vw;
     }

     .darkmainDiv 
     {
        height: 169vh;
        width: 100vw;
     }
   
    .midSection
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 99vh;
    }
    .main
    {
        display: flex;
        flex-direction: column;
    }
    .heading 
    {
        font-size: 2.5rem;
    }
    .darkHeading 
    {
        font-size: 2.5rem;
    }
    .paragraph
    {
        text-align: center;
    }
    .darkParagraph
    {
        text-align: center;
    }
   } 

   @media screen and (min-width:900px) and (max-width: 1200px)
   {

    .mainDiv
    {
        margin-top: 50px;
        width: 100%;
    }
    .darkmainDiv
    {
        margin-top: 50px;
        width: 100%;
    }

   }