.main
{
    background-color: #D4D4D8;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10%;
}

.main1
{
  background-color: #D4D4D8;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  padding-bottom: 8%;
  margin-top: 10%;
}

.newsletter 
{
    background-color: #DB3236;
    height: 200px;
    width: 80vw;
    border-radius: 9px;
    padding: 4% 0%;
    margin-top: 7%;

}

.form
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading 
{
    font-size: 2rem;
    color: white;
    text-align: center;
}

input 
{
    height: 54px;
    width: 256.88px;
    border-radius: 9px;
    border: 2px solid white;
    background-color: #DB3236;
    font-size: 1rem;
    text-align: center;
    color: white;
    margin-right:1%;
}

input::placeholder {
    color: #fff;
  }

  .button 
  {
    /* width:250px; */
    width: 243.56px;
    height: 55px;
    background-color: black;
    border-radius: 9px;
    color: white;
    font-size: 1rem;
    /* margin: 0px 2%; */
  }


  .newsletterInputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; */
  }

  .footer 
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: 50%;
    /* margin: 5% 0% 10% 0%; */
  }

  .test
  {
    width: 100px;
    height: 100px;
    background-color: black;
  }


  .brandButtons 
{
    height: 40px;
    width: 40px;
    margin: 40px 10px 0 ;
    border-radius: 50%;
    background-color: #D4D4D8;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

h4 
{
  font-weight: 100;
}
h2{
  color: #DB3236;
}

    .belowLogoFooterSection
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
    }
.copyright 
{
  width: 80vw;
  border-top: 2px solid #E2E8F0;
   text-align: center;
 
}

.copyright p 
{
  margin-top: 5%;
  color: #71717A;
}

@media (max-width: 1000px)
{
  .newsletter
  {
    width: 90%;
    margin-right: 3%;
  }

  .main1 
  {
    padding: 0%;
    height: 30vh; 
  }

  input
  {
    width: 200px;
    height: 49px;
  }
  .button
  {
    width: 200px;
    height: 50px
  }

  .main
  {
    height: 40vh;
    padding: 3% 0%;
  }

  .footer{
    height: 30vh;
  }

}


@media (max-width: 800px) {


   .heading 
   {
    font-size: 2rem;

   }
  .main 
  {
    /* padding: 10px 0%; */
    height: 30vh;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

  .main1 
  {
    height: 40vh;
    
  }
    .newsletter 
    {
      height: 40vh;
      width: 95%;
      margin: 30px 0 0 0;
      /* padding: 5px 0%; */
      
    }

    .newsletterInputs{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0%;
    }


    .input
    {
      width: 210px;
      /* margin: 5% 12%; */
    }

    .button 
    {
      width: 200px;
      /* margin: 5% 12%; */
    }

    .footer 
    {
      width: 90vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 0px;
    }
    

    .footerData 
    {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      /* margin: 0px 30px; */
      width: 80vw;
    }

    .data 
    {
      margin-right: 20px;
      font-size: 0.75rem;
    }
    
}


@media (max-width: 700px)
{

    .main1 
    {
      height: 80vh;
    }
   .newsletter
   {
    width: 70%;
    height: 60vh;
    padding: 8% 4%;
   }
  .button 
  {
    margin-top: 20%;
    width: 82%;
  }

  input
  {
    width: 80%;
    margin-bottom: 2%;
  }

  .newsletterInputs
  {

    display: flex;
    flex-direction: column;
  }

  .form
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px)
{
  .main 
  {
    height: 30vh;
    padding-bottom: 30%;
  }

  .data
  {
    display: none;
  }
}


@media (max-width: 400px)
{
  .main{
    width: 100%;
    height: 40vh;
    padding-bottom: 20%;
  }

  .data
  {
    display: none;
  }
  
}