.headingDiv 
{
    width: 75vw;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 20px;
}


.heading1 
{
    font-size: 4rem;
    margin: 0px;
    font-weight: bolder;
}

.heading2
{
    font-size: 2.5rem;
    margin: 0px;
    font-weight: bold;
}

.heading3 
{
    font-size: 1.5rem;
    margin: 30px 0px 0px 0px;
    font-weight:lighter;
}

.homeImage
{
    height: 550px;
    width: 550px;
    margin: 30px 40px 0px 0px;
    
}

.homeDiv 
{
    margin-top: 5.5%;
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 100%;
}

.brandButtons 
{
    height: 40px;
    width: 40px;
    margin: 40px 10px 0 ;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #DEE5F3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 900px) {
    .homeDiv 
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }

    .headingDiv
    {
        margin-left:0px;
        margin-top: 10%;
    }
    .imageDiv 
    {
        display: none;
    }
   }


   @media (max-width: 500px)
{
    .headingDiv
    {
        margin-top: 20%;
    }
}