 .main 
{
    min-height: 50vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
}

.photoDiv 
{
    width: 400px;
    height: 400px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.heading 
{
    font-size: 3rem;
}

.darkheading 
{
    font-size: 3rem;
    color: white;
}

.carousalDiv 
{
    margin-top: 2%;
    white-space: nowrap;
    width: 100%;
    /* padding: 5%; */
    
}

.clicked 
{
    opacity: 2;
    height: 100px;
    width: 100px;
}

.notClicked 
{
    opacity: 0.4;
    height: 100px;
    width: 100px;
}

.scrollingDiv
{
    height: 14vh;
    margin: 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 6%;
    width: 100%;
}

.mainCarousal 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-top: 4%;
}

.carousalButton1
{
    width: 50px;
    height: 50px;
    background-color: rgb(60, 60, 60, 0.2);
    /* margin: 0% 0% 6% 3%; */
    margin-left: 20px;
    border: none;
    
}
.carousalButton2
{
    width: 50px;
    height: 50px;
    background-color: rgb(60, 60, 60, 0.2);
    /* margin: 0% 3% 6% 0; */
    margin-right: 20px;
    border: none;
    
}

.mainDiv 
{
    background-color: rgb(60, 60, 60, 0.1);
    width: 815px;
    min-height: 540px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



@media  (max-width: 900px) {
    .main 
    {
        padding: 10% 0%;
        height: 95vh;
    }
    .heading
    {
        padding-top: 10%;
    }

    .mainDiv 
    {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .photoDiv 
    {
        width: 400px;
        height: 400px;
        margin-top: 5px;
    }
    .mainCarousal
    {
        width: 100%;
    }

    .scrollingDiv 
    {
        margin:0%;
        width: 100%;
    }
    .clicked 
{
    opacity: 2;
    width: 100px;
    height: 100px;
    margin: 0% 2%;
}

.notClicked 
{
    opacity: 0.4;
    width: 100px;
    height: 100px;
}
.carousalButton1,.carousalButton2 
{
    margin: 0%;
    width: 30px;
    height: 30px;
}
} 

@media (max-width: 500px)
{
    .mainDiv
    {
        position: relative;
        /* width: 100%; */
    }
    .scrollingDiv
    {
        display: none;
    }

    .carousalButton1
    {
        position: absolute;
       top: 40%;
       border-radius: 8%;
       height: 70px;
       width: 70px;
     
    }

    .carousalButton2
    {
        position: absolute;
       top: 40%;
        left: 80%;
        height: 70px;
        width: 70px;
        border-radius: 8%;
    }
}



@media (max-width: 450px)
{
     .mainDiv
     {
       width: 100%;
        height: 400px;
     }

     .photoDiv
     {
        width: 100%;
        height: 300px;
     }

     .carousalButton1 .carousalButton2
     {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(60, 60, 60, 0.002);
     }
}