

.aboutDiv 
{
    width: 1235px;
    height: 392px;
    background-color: #DB3236;
    background-image: url(../AboutPage/images/aboutBackground.png);
    border-radius: 8px;
    margin: 10% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.aboutDiv2
{
    height: 80vh;
    width: 85vw;
    align-items: center;
    display: flex;
    /* border: 4px solid red; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.aboutDiv4
{
    min-height: 50vh;
    height: auto;
    width: 80%;
    align-items: center;
    display: flex;
    /* border: 4px solid red; */
    flex-direction: column;
   justify-content: center;
   text-align: left;
}
.aboutHeading 
{
    font-size: 4.5rem;
    margin-left: 8%;
    color: white;
    font-weight: bold;
}

.darkaboutHeading 
{
    font-size: 4.5rem;
    margin-left: 8%;
    color: black;
    font-weight: bold;
}



.aboutSubHeading2
{
    font-size: 1.75rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.darkaboutSubHeading2
{
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.aboutSubHeading
{
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
}

.darkaboutSubHeading
{
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: white;
}

.aboutImage 
{
    margin-right: 8%;
}


.aboutSection
{
    padding-top: 3%;
    min-height: 70vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutSection2
{
    min-height: 90vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.aboutSection4
{
    min-height: 50vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}


.domainImageDiv
{
    height: 532px;
    width: 1235px;
}

.domainImage
{
    width: 100%;
    height: 100%
}


.description 
{
    font-size: 1.35rem;
}

.darkdescription 
{
    font-size: 1.35rem;
    color: white;
}


.frame1
{
    height: 300.48px;
    width: 340.17px;
    /* border: 4px solid black; */
    background-image: url('../AboutPage/images/aboutFrame1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15.92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.darkframe1
{
    height: 300.48px;
    width: 340.17px;
    /* border: 4px solid black; */
    background-image: url('../AboutPage/images/darkFrame1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15.92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.frame2
{
    margin-top: 10%;
    height: 318.48px;
    width: 346.17px;
    border: 3px solid  #F4C20D;
    background-image: url('../AboutPage/images/aboutFrame2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15.92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.frameDiv
{
    margin: 6% 0%;
    width: 100%;
    /* border: 4px solid black; */
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame1Heading
{ 
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.darkframe1Heading
{ 
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.frame2Heading
{
    font-size: 1.5rem;
    font-weight: bold;
}

.darkframe2Heading
{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

@media (max-width: 1270px)
{

    .aboutDiv
    {
        width: 80%;
    }

    .aboutImage{
         width: 459px;
         height: 344px;
    }
    .aboutHeading
    {
        font-size: 3.75rem;
    }
    .darkaboutHeading
    {
        font-size: 3.75rem;
    }

    .frame2
    {
width: 250px;
height: 250px;
    }

    .darkframe2
    {
width: 250px;
height: 250px;
    }
    .frame1
    {
width: 250px;
height: 250px;
    }

    .darkframe1
    {
width: 250px;
height: 250px;
    }

  .domainImageDiv
{
    height: 412px;
    width: 1115px;
}

     
}

@media (max-width: 1150px)
{
    .domainImageDiv
    {
        height: 332px;
        width: 935px;
    }
}

@media (max-width:950px)
{
    .frame1
    {
        width: 200px;
        height: 200px;
    }

    .darkframe1
    {
        width: 200px;
        height: 200px;
    }

    .frame2
    {
        width: 200px;
        height: 200px;
    }

    .darkframe2
    {
        width: 200px;
        height: 200px;
    }


    .domainImageDiv
    {
        height: 805px;
        width: 805px;
    }
}

@media (max-width: 850px)
{
    .aboutImage
    {
       display: none;
    }

    .aboutHeading
    {
        font-size: 4rem;
        margin: 0%;
    }
    .darkaboutHeading
    {
        font-size: 4rem;
        margin: 0%;
    }

    .aboutDiv
    {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 0%;
    }

    .aboutSection
    {
        padding-top: 5%;
    }

    .aboutDiv2
    {
        width: 80%;
    }

    .aboutSubHeading
    {
        margin-top: 7%;
        font-size: 1.25rem;
    }

    .darkaboutSubHeading
    {
        margin-top: 7%;
        font-size: 1.25rem;
    }

    

    .aboutSection2
    {
        margin-top: 5%;
    }
    .frame1
    {
        width: 190px;
        height: 190px;
    }

    .darkframe1
    {
        width: 190px;
        height: 190px;
    }

    .frame2
    {
        margin-top: 13%;
        width: 190px;
        height: 190px;
    }

    .darkframe2
    {
        margin-top: 13%;
        width: 190px;
        height: 190px;
    }

    .domainImageDiv
    {
        height: 605px;
        width: 605px;
    }

 
}

@media (max-width: 760px)
{
    .frame1
    {
        width: 150px;
        height: 150px;
    }

    .darkframe1
    {
        width: 150px;
        height: 150px;
    }


    .frame2
    {
        margin-top: 16%;
        width: 150px;
        height: 150px;
    }

    .darkframe2
    {
        margin-top: 16%;
        width: 150px;
        height: 150px;
    }

    .frame1Heading
    {
        font-size: 1rem;
    }

    .darkframe1Heading
    {
        font-size: 1rem;
    }

    .frame2Heading
    {
        font-size: 1rem;
    }
    .darkframe2Heading
    {
        font-size: 1rem;
    }

    .aboutSection2
    {
        /* padding-bottom: 10%; */
    }

    .domainImageDiv
    {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 640px)
{
    .frameDiv
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutSection2
    {
        padding-bottom: 5%;
    }

    .frame2
    {
        margin-top: 0px;
        margin-bottom: 5%;
    }

    .darkframe2
    {
        margin-top: 0px;
        margin-bottom: 5%;
    }

    .frame1
    {
        margin-bottom: 5%;
    }

    .darkframe1
    {
        margin-bottom: 5%;
    }

   


   


}

@media (max-width: 500px)
{

    .aboutSection
    {
        padding-top: 7%;
    }

    .aboutDiv
    {
        width: 90%;
        height: 50vh;
    }

    .aboutHeading
    {
        font-size: 2.5rem;
    }

    .darkaboutHeading
    {
        font-size: 2.5rem;
    }

    .aboutSubHeading
    {
        margin-top: 15%;
        font-size: 1.25rem;
    }

    .darkaboutSubHeading
    {
        margin-top: 15%;
        font-size: 1.25rem;
    }


    .aboutSection2
    {
        margin-top: 9%;
    }
}


@media (max-width: 400px)
{
    .domainImageDiv
    {
        width: 100%;
        height: 58vh;
    }
}
