.main
{
    background-color: rgb(246,249, 251  );
    min-height: 300px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom: 10%; */
}

.darkmain
{
    background-color: black;
    min-height: 300px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom: 10%; */
}


.main1
{
  background-color: rgb(246,249, 251  );
  min-height: 50vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  padding-bottom: 8%;
  margin-top: 10%;
}

.darkMain1
{
  background-color: black;
  min-height: 50vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  padding-bottom: 8%;
  margin-top: 10%;
}

.newsletter 
{
    background-color: #DB3236;
    height: 200px;
    width: 80vw;
    border-radius: 9px;
    padding: 4% 0%;
    margin-top: 7%;

}

.form
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading 
{
    font-size: 2rem;
    color: white;
    text-align: center;
}


.column1
{
  height: 60%;
  display: flex;
  flex-direction: column;
}

.inputs 
{
    height: 54px;
    width: 256.88px;
    border-radius: 9px;
    border: 2px solid white;
    background-color: #DB3236;
    font-size: 1rem;
    text-align: center;
    color: white;
    margin-right:1%;
}

.darkinputs 
{
    height: 54px;
    width: 256.88px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: #DB3236;
    font-size: 1rem;
    text-align: center;
    color: white;
    margin-right:1%;
}

.inputs::placeholder {
    color: #fff;
  }

  .darkinputs::placeholder {
    color: black;
  }

  .button 
  {
    /* width:250px; */
    width: 243.56px;
    height: 55px;
    background-color: black;
    border-radius: 9px;
    color: white;
    font-size: 1rem;
    /* margin: 0px 2%; */
  }

  .darkbutton 
  {
    width: 243.56px;
    height: 55px;

    border-radius: 9px;
    color: black;
    font-size: 1rem;
  }


  .newsletterInputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; */
  }

  .footer 
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: 50%;
    /* margin: 5% 0% 10% 0%; */
  }

  .footerDataDiv
  {
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .test
  {
    width: 100px;
    height: 100px;
    background-color: black;
  }


  .brandButtons 
{
    height: 40px;
    width: 40px;
    margin: 0px 10px ;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.brandButtons:hover
{
    background-color: #5F94EF;
}

.darkbrandButtons:hover
{
    background-color: #5F94EF;
}


.darkbrandButtons
{
  height: 40px;
  width: 40px;
  margin: 0px 10px ;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.copyright
{
   width: 90%;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-top: 3px solid hsla(0, 0%, 0%, 0.123);
}

.copyrightSection
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(246,249, 251  );
}

.darkcopyrightSection
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.cHeading
{
  color:  hsla(0, 0%, 0%, 0.309);
}

.darkcHeading 
{
  color: grey;
}

h4 
{
  font-weight: 100;
}
h2{
  color: #DB3236;
}

    .below
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px 0px;
    }

    .darkbelow
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px 0px;
      color: grey;
    }

.logoname
{
    width: 240px;
    min-height: 30px;
    height: auto;
    font-size: x-small;
    text-align: left;
    margin-right: 3%;
}

.darklogoname
{
    width: 240px;
    height: 30px;
    font-size: x-small;
    text-align: left;
    color: grey;
}

.logonameheading
{
    font-size: 1rem;
    margin: 0px;
    
}


.logonameheading2
{
    font-size: 0.75rem;
    margin: 0px;
    
}


.logoimagediv {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    height: auto;
    margin: 15px 0px 0px 0px;
    float: left;
}

@media (max-width: 1000px)
{
  .newsletter
  {
    width: 90%;
    margin-right: 3%;
  }

  .inputs
  {
    width: 200px;
    height: 49px;
  }

  .darkinputs
  {
    width: 200px;
    height: 49px;
  }
  .button
  {
    width: 200px;
    height: 50px
  }

  .darkbutton
  {
    width: 200px;
    height: 50px
  }

  .footer{
    height: 30vh;
  }

}

@media (max-width: 850px)
{
  .main
  {
    display: flex;
    flex-direction: column;
  }

  .darkmain
  {
    display: flex;
    flex-direction: column;
  }

  .footerDataDiv
  {
    width: 100%;
    justify-content: space-around;
  }
  
}


@media (max-width: 800px) {


   .heading 
   {
    font-size: 2rem;

   }
  .main 
  {
    /* padding: 10px 0%; */
    /* height: 60vh; */
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

  .darkmain 
  {
    /* padding: 10px 0%; */
    /* height: 60vh; */
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

    .newsletter 
    {
      height: 40vh;
      width: 95%;
      margin: 30px 0 0 0;
      /* padding: 5px 0%; */
      
    }

    .newsletterInputs{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0%;
    }


    .input
    {
      width: 210px;
      /* margin: 5% 12%; */
    }

  .button
  {
    width: 200px;
    height: 50px
  }
  .darkbutton
  {
    width: 200px;
    height: 50px
  }

    .footer 
    {
      width: 90vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 0px;
    }
    

    .footerData 
    {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      /* margin: 0px 30px; */
      width: 80vw;
    }

  

    .data 
    {
      margin-right: 20px;
      font-size: 0.75rem;
    }


    /* .belowLogoFooterSection
    {
      font-size: 0.75rem;
      text-align: center;
   
    } */
/* 
    .darkbelowLogoFooterSection
    {
      font-size: 0.75rem;
      text-align: center;
      color: grey;
    } */

    .column1
    {
      justify-content: center;
      /* text-align: center; */
      align-items: center;
    }

    .brandButtons
    {
      height: 30px;
      width: 30px;
      background-color: transparent;
    }
    

   
   
    
}


@media (max-width: 700px)
{
   .newsletter
   {
    width: 70%;
    height: 60vh;
    padding: 8% 4%;
   }
  .button 
  {
    margin-top: 20%;
    width: 82%;
  }

  .darkbutton 
  {
    margin-top: 20%;
    width: 82%;
  }

  .inputs
  {
    width: 80%;
    margin-bottom: 2%;
  }

  .darkinputs
  {
    width: 80%;
    margin-bottom: 2%;
  }

  .newsletterInputs
  {

    display: flex;
    flex-direction: column;
  }

  .form
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 400px)
{
  .main{
    width: 100%;
    padding-bottom: 20%;
  }

  .darkmain{
    width: 100%;
    padding-bottom: 20%;
  }
  
}