nav{
    z-index: 2000;
    height: 58px;
    background-color:transparent;
    width: 100%;
    top: 0;
    position: fixed;
    align-items: center;
    padding-bottom: 10px;
    margin-top: -13px;
    box-shadow: 0px 1px 10px #999;
}
.navbar{
    background-color: white;
    box-shadow: 0px 1px 10px #999;
    z-index: 1000000;
   
    
}
.nav_list{
display: flex;
flex-direction: row;
/* align-items: center; */
margin-top: 5px;
justify-content: space-evenly;
text-align: center;

}


.logo{
display: flex;
/* margin: auto; */
/* margin-left:5.4%; */
margin-top: 0.5%;
   
}


.buttonDiv 
{
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo:hover{
    cursor: pointer;
}


.gdsclogo
{
    margin-right: 3%;
}


.button
{
    height: 31.61px;
    width: 189px;
    border-radius: 9.66px;
    background-color: #DB3236;
    color: white;
    border: #DB3236;
    margin: 10% 0%;
}


.toggle
{
    margin-right: 10%;
    margin-top: 15px;
}


.nav_list li{
    padding-left: 0;
    padding-right: 0;
    /* margin: auto 2.5%; */
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 5%;
    /* we have to adjust below line margin so that navbar looks ok */
    margin: auto 2.1%;
    flex-shrink: 0;


}


.logoname
{
    width: 240px;
    height: 30px;
    font-size: x-small;
    text-align: left;
}

.logonameheading
{
    font-size: 1rem;
    
}


.logonameheading2
{
    font-size: 0.75rem;
    
}


.logoimagediv {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 15px 0px 0px 0px;
    float: left;
}
a{
    color: #323232;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: .25rem;
    font-weight:500;
    text-decoration: none;
    align-items: center;
    padding-bottom: 15%;
}
.clickactive{
    /* background-color: red; */
    border-bottom: 3px solid red;
    /* border-radius: 5px; */
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
 
}
.clickactive1{
    /* background-color: #F0A62F;
    border: 2px solid yellow;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px; */

    width: 90px;
	height: 100%;
	transform: skew(-10deg);
	background: #4B3688;
	background: #003672;
	background: #ff0000;
	background: black;
    
    color: white;
 
}

.rightnav{
    width: 45%;
    display: flex;
    float: left;
    margin-right: 0;
    padding-right: 0;
    margin-right: 1.5%;
    flex-direction: row;
    justify-content: center;
    z-index: 900000;
}
.burger{
    border-radius: 1px;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 21.45px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 4px;
  display: none;
}
.burger:hover{
    background-color: rgb(243, 242, 242);
}
.line{
background-color: black;
border-color: black;
height: 0.5px;
width: 22px;
border: 2px solid;
/* border-bottom: 0;
border-left: 0;
border-right: 0; */
margin-top: 4.5px;

}

.hover_underline_animation {
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 16.3px;
  }
  
  .hover_underline_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  /* .hover_underline_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */

   @media (max-width:1200px) {
    .hover_underline_animation{
        font-size: 13px;
    }
  }
   @media (max-width:1000px) {
    .hover_underline_animation{
        font-size: 11px;
    }
    
     .button{
        width: 150px;
     }

     .gdsclogo{
         height: 30px;
         width: 50px;
     }
     .logonameheading{
         font-size: 12px;
     }
     .logonameheading2{
        font-size: 10px;
    }
    
  }

  @media (max-width:840px){
    .nav_list{
        flex-direction: column;
    }
   .rightnav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    transition: all 500ms;
    z-index: 20000;
    margin-left: 4%;
    width: 85%;
   }
   .nav_list li{

    margin-top: 20px;
   }
   .burger{
    display: block;
   }
   
 .rightnav1{
    transform: translate(140vh);
  
 }  
 .barNotActive{
    transform: translate(140vh);
    display: none;
  }

  .hover_underline_animation{
    font-size: 14px;
}
/* 
.logo 
{
    margin: auto;
} */
}


.test{
    color: white !important;
    font-size: 32px !important;
}


@media (max-width: 500px)
{
     .logo
     {
        margin-left: 0px;
     }
    .gdscname
    {
        height: 30px;
        width: 90px;
    }
}



/* .navbardiv
{
    padding: 0px 5px;
    list-style-type: none;
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navMainDiv
{
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #DEE5F3;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li
{
   margin: 0 10px; 
   font-size: 1rem; 
   height: 40px;
}


.button
{
    height: 31.61px;
    width: 189px;
    border-radius: 9.66px;
    background-color: #DB3236;
    color: white;
    border: #DB3236;
    margin: 15px 60px 0px 0px;
}
img 
{
    padding: 0px 5px;
}

li:hover{
    border-bottom: 5px solid red;
    transition: all 0.3s ease;
  }
  

  
@media only screen and (max-width: 800px) {
    .navMainDiv 
    {
        display: none;
    }
   } */

