.navbar 
{
    height: 60px;
    min-width: 100%;
    width: auto;
    border-bottom:  solid rgba(211, 211, 211, 0.538);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
 
}

/* .darkNavbar 
{
    height: 60px;
    width: 100%;
    border-bottom:  solid rgba(211, 211, 211, 0.29);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
 
} */
.darkNavbar 
{
    height: 60px;
    min-width: 100%;
    width: auto;
    border-bottom:  solid rgba(211, 211, 211, 0.29);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
 
}

#darkdiv
{
    background-color: black;
}


.listDiv
{
   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.darklist 
{
    background-color: black;
    color: white;
}


.logoname
{
    width: 240px;
    /* height: 40px; */
    font-size: x-small;
    text-align: left;
    display: flex;
    margin-left: 5px;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.gdsclogo
{
    width: 55px;
    object-fit: contain;
}

.logonameheading
{
    font-size: 1rem;
    margin-top: 1%;
    margin-bottom: 0px;
    
}


.logonameheading2
{
    font-size: 0.75rem;
    margin: 0px;
}


.logoimagediv {
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    /* margin: 15px 0px 0px 0px; */
    float: left;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0px;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0% 1.25%;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: white; */
}



.button 
{
    height: 31.61px;
    width: 189px;
    border-radius: 9.66px;
    background-color: #DB3236;
    color: white;
    border: #DB3236;
}


.button 
{
    height: 31.61px;
    width: 189px;
    border-radius: 9.66px;
    background-color: #DB3236;
    color: white;
    border: #DB3236;
}

.button1
{
    display: none;
    height: 31.61px;
    width: 189px;
    border-radius: 9.66px;
    background-color: #DB3236;
    color: white;
    border: #DB3236;
}


.hamburgerMenu
{
    display: none;
}

.darkhamburgerMenu
{
    display: none;
}

/* .rightnav{
    width: 45%;
    display: flex;
    float: left;
    margin-right: 0;
    padding-right: 0;
    margin-right: 1.5%;
    flex-direction: row;
    justify-content: center;
    z-index: 900000;
} */




@media (max-width:1000px)
{

    .listDiv
    {
        border-radius: 8px;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 70vh;
        width: 90%;
        top: 10px;
        right: -8000px;
        z-index: 9000;
        background-color: white;
        transition: 0.4s ease-in-out;
        box-shadow: 8px 10px 5px 0px rgba(188,193,214,1);
        border: 1px solid #9DB2BF;
        /* border: 1px solid grey; */
    }




    .active
    {
        border-radius: 8px;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 70vh;
        width: 90%;
        top: 10px;
        right: 5%;
        z-index: 9000;
        background-color: white;
        padding: 2% 0%;
    }

    a 
    {
        margin: 0px;
    }

    .button1
    {
        display: block;
    }
    .button
    {
        display: none;
    }

    .hamburgerMenu
    {
        display: block;
        margin-right: 5%;
    }

    .darkhamburgerMenu
    {
        display: block;
        margin-right: 5%;
        background-color: black;
    }

    .hamburger
{
    display:block;
    height: 35px;
    width: 35px;
   
}

.darkhamburger
{
    display:block;
    height: 35px;
    width: 35px;
   color: white;
   background-color: black;
}

a 
{
    background-color: white;
    font-size: 1.25rem;
    margin-bottom: 2%;
}

ul 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
}
}

@media (max-width: 700px)
{
    .listDiv{
        top: 20px;
    }

    .active
    {
        top: 20px;
    }

  
}

@media (max-width: 500px)
{

    a 
    {
        font-size: 1rem;
    }
    .logoname
    {
        display: none;
    }

    .listDiv{
        top: 40px;
        /* right: 10px; */
        padding: 2% 0%;
        height: 60vh;
    }

    .active
    {
        top: 40px;
        /* right: 10px; */
        padding: 2% 0%;
        height: 60vh;
    }
}
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 27px;
  
  }
  
  .toggleSwitch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
  
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 2px;
    background-color: #F4C20D;
    border-radius: 50%;
    transition: 0.4s;
    border: 2px solid black;
  }
  
  .sliderOn {
    background-image: url(./images/toggle.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
  }
  
  .sliderOn:before {
    transform: translateX(0);
  }
  
  .sliderOff {
    background-image: url(./images/toggle2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
  }
  
  .sliderOff:before {
    
    transform: translateX(26px);
    background-color: grey;
    border: 2px solid black;
  }
  